# Exercise: 

Find top 10 movies based on highest average rating. 
The top 10 movies must have at least 100 ratings. 
Display movie Id, title, and avg rating.  

movies: movies.csv
ratings: ratings.csv

Location of the data: 
https://github.com/abulbasar/data/tree/master/ml-latest-small

In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("/data/ml-latest-small/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
movies = pd.read_csv("/data/ml-latest-small/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy