# Exercise: 

Find top 10 movies based on highest average rating. 
The top 10 movies must have at least 100 ratings. 
Display movie Id, title, and avg rating.  

movies: movies.csv
ratings: ratings.csv

Location of the data: 
https://github.com/abulbasar/data/tree/master/ml-latest-small

In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("/data/ml-latest-small/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
movies = pd.read_csv("/data/ml-latest-small/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [9]:
ratings.query("movieId == 31").shape

(42, 4)

In [15]:
agg = ratings.groupby("movieId").rating.agg([np.mean, len])
agg.loc[31]

mean     3.178571
len     42.000000
Name: 31, dtype: float64

In [14]:
ratings.query("movieId == 31").rating.mean()

3.1785714285714284

In [17]:
agg.query("len >= 100").shape

(151, 2)

In [18]:
agg.shape

(9066, 2)

In [20]:
len(ratings.movieId.unique())

9066

In [23]:
agg100 = agg.query("len >= 100").reset_index()

In [29]:
agg100merged = pd.merge(movies, agg100, on = "movieId")[["movieId", "title", "mean"]]
agg100merged

     movieId                                              title      mean
0          1                                   Toy Story (1995)  3.872470
1          2                                     Jumanji (1995)  3.401869
2          6                                        Heat (1995)  3.884615
3         10                                   GoldenEye (1995)  3.450820
4         25                           Leaving Las Vegas (1995)  3.742574
5         32          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  3.923469
6         34                                        Babe (1995)  3.601351
7         36                            Dead Man Walking (1995)  3.937500
8         39                                    Clueless (1995)  3.550000
9         47                        Seven (a.k.a. Se7en) (1995)  4.034826
10        50                         Usual Suspects, The (1995)  4.370647
11       110                                  Braveheart (1995)  3.945175
12       111                                 Taxi Driver (1976)  4.224576
13       150                                   Apollo 13 (1995)  3.902500
14       153                              Batman Forever (1995)  2.782946
15       165                  Die Hard: With a Vengeance (1995)  3.443662
16       185                                    Net, The (1995)  3.102941
17       208                                  Waterworld (1995)  2.752212
18       223                                      Clerks (1994)  3.963303
19       231             Dumb & Dumber (Dumb and Dumber) (1994)  3.110759
20       253  Interview with the Vampire: The Vampire Chroni...  3.396000
21       260          Star Wars: Episode IV - A New Hope (1977)  4.221649
22       288                        Natural Born Killers (1994)  3.336449
23       292                                    Outbreak (1995)  3.309091
24       293  Léon: The Professional (a.k.a. The Professiona...  4.071970
25       296                                Pulp Fiction (1994)  4.256173
26       316                                    Stargate (1994)  3.368966
27       318                   Shawshank Redemption, The (1994)  4.487138
28       329                      Star Trek: Generations (1994)  3.350877
29       339                     While You Were Sleeping (1995)  3.440594
..       ...                                                ...       ...
121     2959                                  Fight Club (1999)  4.178218
122     2987                    Who Framed Roger Rabbit? (1988)  3.666667
123     2997                        Being John Malkovich (1999)  3.956349
124     3114                                 Toy Story 2 (1999)  3.844000
125     3147                             Green Mile, The (1999)  3.922330
126     3578                                   Gladiator (2000)  3.965839
127     3793                                       X-Men (2000)  3.559055
128     3996  Crouching Tiger, Hidden Dragon (Wo hu cang lon...  3.855263
129     4226                                     Memento (2000)  4.227273
130     4306                                       Shrek (2001)  3.847701
131     4886                              Monsters, Inc. (2001)  3.884615
132     4896  Harry Potter and the Sorcerer's Stone (a.k.a. ...  3.657143
133     4963                              Ocean's Eleven (2001)  3.880769
134     4973  Amelie (Fabuleux destin d'Amélie Poulain, Le) ...  4.096000
135     4993  Lord of the Rings: The Fellowship of the Ring,...  4.182500
136     4995                           Beautiful Mind, A (2001)  3.951754
137     5349                                  Spider-Man (2002)  3.522388
138     5418                        Bourne Identity, The (2002)  3.880000
139     5445                             Minority Report (2002)  3.686957
140     5952      Lord of the Rings: The Two Towers, The (2002)  4.061170
141     6377                                Finding Nemo (2003)  3.803279
142     6539  Pirates of the Caribbean: The Curse of the Bla...  3.854610
143     6874                           Kill Bill: Vol. 1 (2003)  3.819820
144     7153  Lord of the Rings: The Return of the King, The...  4.127841
145     7361       Eternal Sunshine of the Spotless Mind (2004)  4.122642
146     7438                           Kill Bill: Vol. 2 (2004)  3.665049
147     8961                            Incredibles, The (2004)  3.861111
148    33794                               Batman Begins (2005)  3.857143
149    58559                            Dark Knight, The (2008)  4.235537
150    79132                                   Inception (2010)  4.049550

[151 rows x 3 columns]

In [30]:
agg100merged.sort_values("mean", ascending=False).iloc[:10, :]

     movieId                                   title      mean
62       858                   Godfather, The (1972)  4.487500
27       318        Shawshank Redemption, The (1994)  4.487138
81      1221          Godfather: Part II, The (1974)  4.385185
10        50              Usual Suspects, The (1995)  4.370647
43       527                 Schindler's List (1993)  4.303279
71      1193  One Flew Over the Cuckoo's Nest (1975)  4.256944
55       608                            Fargo (1996)  4.256696
25       296                     Pulp Fiction (1994)  4.256173
118     2858                  American Beauty (1999)  4.236364
149    58559                 Dark Knight, The (2008)  4.235537